body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.generalBGContainer {
  background: url(images/generalBG.svg);

}

.bgOverlay {
  height: 100%;

  background: rgba(245, 245, 245, 0.4)
}

.mainContentContainer {
  background-color: white;
  margin: 0 9%;
  height: 100%;

}

.dashboardDisp {
  margin: 3% 5%;

}

.removeIcon {
  color: #b0bec5 !important;
}

.removeIcon:hover, .removeIcon:active {
  color: #e53935 !important;
}

.acceptBtn {
  background-color: white !important;
  color: #427c60  !important;
  border: 3px solid #427c60  !important;
}

.acceptBtn:hover, .acceptBtn:active {
  background-color: white !important;
  color: #5baf87 !important;
  border: 3px solid #5baf87 !important;
}



.deleteBtn {
  background-color: white !important;
  color: #c62828 !important;
  border: 3px solid #c62828 !important;
}

.deleteBtn:hover, .deleteBtn:active {
  background-color: white !important;
  color: #e53935 !important;
  border: 3px solid #e53935 !important;
}

.connectedBtn {
  background-color: white !important;
  color: #b0bec5 !important;
  border: none !important;
}

.connectedBtn:hover, .connectedBtn:active {
  background-color: white !important;
  color: #b0bec5 !important;
  border: none !important;
}

.pendingBtn {
  background-color: white !important;
  color: #427c60 !important;
  border: none !important;
}

.pendingBtn:hover, .pendingBtn:active {
  background-color: white !important;
  color: #427c60 !important;
  border: none !important;
}

/*add media query for when screen is smaller*/
/*#4183C4  #133070*/
.signInPop {
  width: 30em !important;
  margin-left: -14% !important;
  text-align: center !important;
}
.signInModalCon{
  text-align: center !important;
}
.loginBtn {
  color: #133070;
  cursor: pointer;
}
.loginBtn:hover, .loginBtn:active {
  color: #4183C4;
}

.editBtn {
  color: blue !important;
  background-color: white !important;
}
.userProDisp {
  border: none !important;
}

.homeheaderImg {
  height: 300px;
}

.uploadedImage {
  text-align: center;
}

/*.eventTopBg {
  position: absolute;
  opacity: 0.5;
  z-index: -1000;
  top:0;
  width: 100%;
  height: 32em;
}*/

/*.eventBottomBg {
  position: absolute;
  opacity: 0.5;
  z-index: -10;
  width: 100%;
  height: 3000px;
  overflow: hidden;
  top: 0;
  border: 1px solid red;
  background-color: #eceff1;
}
*/
.eventBtContent {
  background-color: white;
}

.eventBottomBg {
  background-color: #f5f5f5;
}

.eventBgImg {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 20em;
  width: 100%;
  margin: 0;
}



.eventImgText {
  width: 90%;
  font-weight: 600px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}


.homebanner {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
    url(images/header.jpg);
  background-size: cover;
  background-position: top;
  height: 24em;
  width: auto;
  position: relative;
  margin: 0;
}

.aboutbanner {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
    url(images/aboutheader.jpg);
  background-size: cover;
  background-position: center;
  height: 24em;
  width: auto;
  position: relative;
  margin: 0;
}

.imageBtn {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0) !important;
  border: 3px solid white !important;
  color: white !important;
}

.imageBtn:hover, .imageBtn:active {
  background-color: #40537a !important;
  border: 3px solid #40537a !important;
}

.moduleHeader {
  font-weight: 600px;
  font-size: 65px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0.4em 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}


.moduleBottom {
  font-weight: 900px;
  font-size: 55px;
  font-family: 'Open Sans', sans-serif;
  color: #133070;
  padding: 0.4em 1em;
  position: absolute;
  top: 38%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}

.aboutBottom {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
      ),
    url(images/aboutheader.jpg);
  background-size: 2000px auto;
  background-position: right;
  height: 18em;
  width: auto;
  position: relative;
  margin: 0;
}

.imageBtnBottom {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #40537a !important;
  border: 3px solid #40537a !important;
  color: white !important;
}


.imageBtnBottom:hover, .imageBtnBottom:active {
  background-color:#4f6fad !important;
  border: 3px solid #4f6fad !important;
}


.dashboardCont {
  padding-bottom: 3em !important;
}


.userInfo {
  margin: 1.5em;
}

.imagedrop {
  text-align: center;
  height: 200px;
  margin: 1.5em;
  border: 1px dashed grey;
}

.profileImage {
  border: none;
}

.otherUserPro {
  text-align: center;
  height: 150px;
  margin: 1.5em;
  margin-bottom: 0.5em !important;
}

.modalText {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #778899;
}

.modalTextFooter {
  font-size: 1em;
  margin-top: 1em;
  color: #778899;
}

.modalTextPadding {
  padding-right: 1em;
}

.eventTopGrid{
  margin: 2em, 5%, 0, 5% !important;
}

.pageContainer {
  margin-top: 1em !important;
}

.eventWrap {
  margin-top: 1% !important;

}

.mainNav {
  margin-bottom: 0 !important;
}
.searchBar {
  margin-right: 1em !important;
}
.primBtn {
  background-color: #40537a !important;
}
.primBtn:hover, .primBtn:active {
  background-color:#4f6fad !important;
}




.pageHeaders {
  /*font-size: 25px !important;
  color: #133070 !important;*/
  padding-left: 43% !important;
  margin-top: 1.5em !important;
  font-family: 'Open Sans', sans-serif !important;
}

.formContainer{
  margin-left: 3em;
  margin-right: 3em;
}
.logo {
  color: #f7a64a;
  font-weight: bold;
  font-size: 1.7em;
}

.logo:hover {
  color: #f7a64a;
}

.rightMenu {
  color: #133070;
}

.eventListHeader {
  color: #133070;
}

.listItem {
  border-color: #f7a64a
}

/* JOEY STYLES */

.aboutPageText {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.cardHeader {
  font-size: 35px;
}

.iconBar {
  margin: 10px 25px;
}
