body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*#4183C4  #133070*/
.signInPop {
  width: 30em !important;
  text-align: center !important;
}
.signInModalCon{
  text-align: center !important;
}
.loginBtn {
  color: #133070;
  cursor: pointer;
}
.loginBtn:hover, .loginBtn:active {
  color: #4183C4;
}

.editBtn {
  color: blue !important;
  background-color: white !important;
}
.userProDisp {
  border: none !important;
}

.homeheaderImg {
  height: 300px;
}

.uploadedImage {
  text-align: center;
}

.homebanner {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
    url(images/header.jpg);
  background-size: cover;
  background-position: top;
  height: 24em;
  width: auto;
  position: relative;
  margin: 0;
}

.aboutbanner {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
      ),
    url(images/aboutheader.jpg);
  background-size: cover;
  background-position: center;
  height: 24em;
  width: auto;
  position: relative;
  margin: 0;
}

.imageBtn {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0) !important;
  border: 3px solid white !important;
  color: white !important;
}

.imageBtn:hover, .imageBtn:active {
  background-color: #40537a !important;
  border: 3px solid #40537a !important;
}

.moduleHeader {
  font-weight: 900px;
  color: white;
  padding: 0.4em 1em;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}


.dashboardCont {
  padding-bottom: 3em !important;
}


.userInfo {
  margin: 1.5em;
}

.imagedrop {
  text-align: center;
  height: 200px;
  margin: 1.5em;
  border: 1px dashed grey;
}

.profileImage {
  border: none;

}


.modalText {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #778899;
}

.modalTextFooter {
  font-size: 1em;
  margin-top: 1em;
  color: #778899;
}

.pageContainer {
  margin-top: 1em !important;
}

.mainNav {
  margin-bottom: 0 !important;
}
.searchBar {
  margin-right: 1em !important;
}
.primBtn {
  background-color: #40537a !important;
}

.eventFormHeader {
  color: #133070 !important;
  margin-top: 1.5em !important;
}
.formContainer{
  margin-left: 3em;
  margin-right: 3em;
}
.logo {
  color: #f7a64a;
  font-weight: bold;
  font-size: 1.7em;
}

.logo:hover {
  color: #f7a64a;
}

.rightMenu {
  color: #133070;
}

.eventListHeader {
  color: #133070;
}

.listItem {
  border-color: #f7a64a
}

/* JOEY STYLES */

.aboutPageText {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.cardHeader {
  font-size: 35px;
}

.iconBar {
  margin: 10px 25px;
}
